<!DOCTYPE html>
<html>
  <title>Trumpfo</title>
  <head>
     <link href="../static/main.css" rel="stylesheet">
  </head>
    <body>
      <div class="container">
        <h1>YOUR ONE STOP FOR ALL TRUMP RELATED INFORMATION</h1>
        <h3>THE WEBSITE PROVIDES TRUMP'S TWEETS AND THE NEWS RELATED TO HIM ...ALL IN ONE PLACE!!! </h3>



        <form action="Twitter.html" method="GET">
          <button type="submit">TWITTER</button>



      </form>
      <form action="Articles.html" method="GET">
          <button type="submit">ARTICLES</button>





    </form>


    </div>
    </body>




</html>
