<!DOCTYPE html>
<html>
 <head>
  <title>Trumpfo</title>
  </head>
    <body>
      <script src="static/Script.js"></script>

      <div class="container">
        <p align ="center"><font size="9">YOUR ONE STOP FOR ALL TRUMP RELATED INFORMATION</p></font>
        <p align ="center"><font size="8">THE WEBSITE PROVIDES TRUMP'S TWEETS AND THE NEWS RELATED TO HIM ...ALL IN ONE PLACE!!!</p></font>



        <form action="Twitter.html" method="GET">
        <center> <button type="submit">TWITTER</button> </center>



      </form>
      <form action="Articles.html" method="GET">
        <center>  <button type="submit">ARTICLES</button> <center>





    </form>


    </div>
    </body>




</html>
