<!DOCTYPE html>



<html lang="en">
  <title>Trumpfo</title>
  <head>

    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="static/css/clean-blog.min.css" rel="stylesheet">



  </head>
    <body>




   <div class="container">
     <div class="row">
       <div class="col-lg-8 col-md-10 mx-auto">
         {% for item in items %}

         <div class="post-preview">
           <a href="#">

             <h3 class="post-subtitle">
               {{ item }}
             </h3>
           </a>

         </div>
         <hr>
         {% endfor %}


       </div>
     </div>
   </div>

    </body>
  </html>
